:root {
  --bg-color-a: #D8E1E7;
  --bg-color-b: #2A231F;
  --bg-color-c: #FF5D00;
  --bg-color-d: #00478F;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-image: linear-gradient(to left, var(--bg-color-d) 80%, var(--bg-color-a) 100%);
}
.site-header-a {
  color:var(--bg-color-a);
  transition: color .15s ease-in-out;
}
a.site-header-a:hover {
  color: var(--bg-color-c);
  text-decoration: none;
}

.bg-paleta1-grad {
  background-image: linear-gradient(0.5turn, var(--bg-color-d), var(--bg-color-a));
}
.bg-paleta4-grad {
  background-image: linear-gradient(0.5turn, var(--bg-color-c), var(--bg-color-a));
}

.bg-btn-1{
  background-color: var(--bg-color-c);
  color: var(--bg-color-a);
}

button.bg-btn-1:hover {
  background-color: var(--bg-color-d);
  color: var(--bg-color-a);
  text-decoration: none;
}

.my-card{
  border-radius: 21px 21px 0 0;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}